<%# add navigation links to this file %>
<div class="nav-header nav-footer">
  <!-- <ul> -->
    <li><h4 class="portfolio-header portfolio-footer"><%= link_to 'PORTFOLIO', pages_portfolio_path %></h4></li>
    <li><h4><%= link_to 'ABOUT', pages_about_path %></h4></li>
  <!-- </ul> -->
</div>
