<div class="body-wrapper">

  <h3>ABOUT</h3>

  <div class="body-block1">

    <div class="bio-text">
      <p>Hello, my name is Juan Fernando Pineda. I am a wincoder @ Wincode Miami.</p>
    </div>
    <!-- end bio-text -->

    <div class="bio-pic">
      <img src="#" alt="Picture">
    </div>
    <!-- end bio pic -->
  </div>
  <!-- end body-bock1 -->
</div>
<!-- end body-wrapper -->
