<div class="body-wrapper">
  <div class="body-wrapper-all">
    <h1 class="title">ABOUT</h1>
      <div class="body-block1">

          <div class="bio-text">
              <p>Hello! My name is Juan Fernando, and I am Web Developer graduate from Wyncode Bootcamp, with a strong background in Ruby on Rails.
              <br>
              <br>
              Previously, I worked in the areas for Personal Life Coach and Engineering Project Management in the Energy Market.
              <br>
              <br>
              I am unapologetic creative generalist, for a passion of life and adventure. This passion has led me to experience life from various hats, ranging from Entrepreneur, Engineer to Mountaineer. If you would like to learn more about my adventures, please see my bio
              <br>
              <br>
              You can learn more about my personal projects at <a href="https://www.linkedin.com/in/juanfpineda/" target="_blank">LinkedIn</a> and <a href="https://github.com/jfpineda84" target="_blank">GitHub</a>.</p>
          </div>
          <!-- end bio-text -->

          <div class="bio-pic">
            <%= image_tag("bio_pic.jpg", :alt => "bio picture", class:"pic") %>
          </div>
          <!-- end bio pic -->

    </div>
    <!-- end body-bock1 -->
  </div>
  <!-- body-wrapper-all -->
</div>
<!-- end body-wrapper -->
