<div class="body-wrapper">

  <h1 class="title">CONTACT</h1>

  <div class="body-block1">

    <div class="body-block2">

        <p>Looking for a fresh point of view on your project idea? Someone to help reach your greatest project potential? A partner to keep you company on your next adventure? That could be me, Let’s talk!</p>
        <p><h4>(754) 273-6608</h4></p>
        <p><a href="#">jfpineda84@gmail.com</a></p>
    </div>
    <!-- end body-block2 -->
  </div>
  <!-- end body-block1 -->
</div>
<!-- end body-wrapper -->
