<div class="body-wrapper">
  <div class="body-wrapper-all">

    <h1 class="title">PORTFOLIO</h1>

    <div class="body-block1">
      <div class="body-block2">
          <ul>
            <li><a href="#">Game</a></li>
            <li><a href="#">Web Page Template</a></li>
            <li><a href="#">TDD - URL Parcer</a></li>
            <li><a href="#">???</a></li>
          </ul>
      </div>
    </div>
    <!-- end id=body2 -->
  </div>
  <!-- end body-wrapper-all -->
</div>
<!-- end body-bock1 -->
