<div class="body-block2">

  <h3>REFERENCE</h3>

  <div class="items">
    <ul>
      <li class="box1"><a href="#">Game</a></li>
      <li class="box1"><a href="#">Web Page Template</a></li>
      <li class="box2"><a href="#">TDD - URL Parcer</a></li>
      <li class="box2"><a href="#">???</a></li>
    </ul>
  </div>
  <!-- end id=body2 -->
</div>
<!-- end body-bock1 -->
