// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ==== //// ====== Content pages general ===== /// ====

frame box color
.body-wrapper {
  border: 1px solid red;
}
.body-block1 {
  border: 1px solid red;
}
.body-wrapper {
  border: 1px solid red;
}
.bio-text {
  border: 1px solid red;
}
.bio-pic {
  border: 1px solid red;
}
// header titles
.title {
  text-align: center;
}
.body-block1 {
  justify-content: center;
  margin: 0 3% 3% 3%;
}

// ==== //// ====== about page ===== /// ====

.bio-text {
  float: right;
}

// picture details
.bio-pic {

}
// picture size
.pic {
  width: 137%;
  border-radius: 50%;
  padding: 5% 5%;
}
.body-block1 , .items {
  display: flex;
  justify-content: center;
}
.bio-text p {
  padding: 5% 5% 5% 5%;
}
.body-wrapper-all {
  margin: 0 25% 0 25%;
  padding: 42px 0px 42px 0;
}


/* ==== //// ====== Portfolio & Contact Page ===== /// ==== */

// alligns the inside contents in the center of the page
.body-block2 {
  margin: 0 10% 0 10%;
  text-align: center;
}
