<div class="logo">
  <%= render 'layouts/parcers/logo.html.erb' %>
</div>
<!-- end of class logo -->

<div class="nav-header">
  <ul class="nav-head">

      <li><h4 class="about-header"><%= link_to 'ABOUT', pages_about_path %></h4></li>

      <li><h4 class="portfolio-header"><%= link_to 'PORTFOLIO', pages_portfolio_path %></h4></li>

  </ul>
</div>
