<div class="logo">
  <%= render 'layouts/parcers/logo.html.erb' %>
</div>
<!-- end of class logo -->

<ul class="nav">
    <li><%= render 'layouts/parcers/navigation_link_bar_one.html.erb' %></li>
</ul>
<!-- end class=nav -->
