<div class="logo">
  <%= render 'layouts/parcers/logo.html.erb' %>
</div>
<!-- end of class logo -->

<div class="nav-footer">
  <ul class="nav">
    <li><h4><%= link_to 'PORTFOLIO', pages_portfolio_path %></h4></li>
    <li><h4><%= link_to 'ABOUT', pages_about_path %></h4></li>
    <li><h4><%= link_to 'CONTACT', pages_contact_path %></h4></li>
  </ul>
</div>
<!-- end class=nav -->

<div class="contact-info">
  <ul>
    <li><h4>(754) 273-6608</h4></li>
    <li><a href="#">jfpineda84@gmail.com</a></li>
  </ul>
</div>
<!-- end class=contact -->

<div class="reference">
  <ul>
    <li class="linked-in"><a href="https://www.linkedin.com/in/juanfpineda/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
    <li class="git-hub"><a href="https://github.com/jfpineda84" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
  </ul>
  <p>The portfolio of Juan Fernando Pineda</p>
  <p class="copy-right">&#169; 2017 Juan Fernando Pineda</p>
</div>
<!-- end class=ref-ogo -->
