<div class="logo">
  <%= render 'layouts/parcers/logo.html.erb' %>
</div>
<!-- end of class logo -->

<ul class="nav">
  <li><%= render 'layouts/parcers/navigation_link_bar_one.html.erb' %></li>
  <li><%= link_to 'Contact', pages_contact_path %></li>
</ul>
<!-- end class=nav -->

<div class="contact-info">
  <ul>
    <li>Juan F. Pineda</li>
    <li>(754) 273-6608</li>
    <li><a href="#">jfpineda84@gmail.com</a></li>
  </ul>
</div>
<!-- end class=contact -->

<div class="reference">
  <ul>
    <li class="linked-in"><i class="fa fa-linkedin-square" aria-hidden="true"></i></li>
    <li class="git-hub"><i class="fa fa-github-square" aria-hidden="true"></i></li>
  </ul>
  <p>The portfolio of Juan Fernando Pineda</p>
  <p class="copy-right">&#169; 2017 Juan Fernando Pineda</p>
</div>
<!-- end class=ref-ogo -->
